<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <header>
      <h1>Aeroportos</h1>
      <img src="http://4.bp.blogspot.com/-0B1MRZKsLW0/U3wAYnIcMdI/AAAAAAAAHRA/gYdYAdWKqA4/s1600/airplane+2.gif" alt="">
    </header>

    <nav>
        <a href="index"> <button>Início</button> </a>
        <a href="lista"> <button>Listar</button> </a>
        <a href="insere"> <button>Inserir</button> </a>
        <a href="remove"> <button>Remover</button> </a>
        <a href="pesquisa"> <button>Pesquisa</button> </a>
    </nav>

    <section class="insere">
        <h1>Cadastrar Aeroportos</h1>

        <form action="/insere" method="post">
            <div class="input">
                <label>Aeroporto: </label>
                <input type="text" name="aeroporto">
            </div>
            <div class="input">
                <label>Cidade: </label>
                <input type="text" name="cidade">
            </div>
      
            <button type="submit"> Inserir </button>
        </form>
    </section>

  </body>
</html>
